.divCategoryCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 180px;
    padding-left: 2rem;
    color: white;
}

/* .divCategoryCard:hover {
    font-size: 150%;
} */

.Gin {
    background: var(--color-blue-light);
}
.Vodka {
    background: var(--color-purple)
}
.Rum {
    background: var(--color-red)
}
.Scotch {
    background: var(--color-yellow)
}
.Alkoholfrei {
    background: var(--color-blue)
}
.Zufall {
    background: var(--color-green)
}
